<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD30qAWpNiwLMhpPyh61GJVpJiR_YIbgAg</string>
	<key>GCM_SENDER_ID</key>
	<string>731222295583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.priyamvadaTest</string>
	<key>PROJECT_ID</key>
	<string>priyamvada-test</string>
	<key>STORAGE_BUCKET</key>
	<string>priyamvada-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731222295583:ios:0707327b2d3b15bf56412a</string>
</dict>
</plist>